<%- include("includes/head.ejs") %>

    <body>
        <%- include("includes/header.ejs") %>
            <h1>Namaste, and welcome to your account @<%= username %>
            </h1>
            <button>Follow</button>
            <button>Message</button>
            <div>
                Followers : <%= data.followers %> Following : <%= data.following %>
            </div>
            <div>
                <% for(let p of data.posts){ %>
                    <div>
                        <img src="<%= p.image %>" alt="">
                        <p>Likes : <%= p.likes %>
                        </p>
                    </div>
                    <% } %>
            </div>
    </body>